* {
    margin: 0;
    padding: 0;
}

html,
body {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.main {
    height: 100vh;
    display: flex;
}

.left {
    flex: 1;
    background-color: #1c1c1c;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.left .content {
    margin-top: 50px;
    margin-left: 50px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.left .two{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.left .two p span{
    font-size: 50px;
}

.left .two div {
    display: flex;
    flex-direction: column;
    gap: 15px;

}

.left .two div p{
    display: flex;
    align-items: center;
    gap: 15px;
}

.left .two div p img{
    width: 30px;
    height: 30px;
    filter: invert(1);
}


.left .three {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.para {
    color: rgba(255, 255, 255, 0.514);
}

.images {
    display: flex;
    gap: 40px;
}

.stars{
    display: flex;
    gap: 5px;
}


.right {
    flex: 1;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: black;
}

.right .forms {
    margin: 200px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.head {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.headPara{
    font-weight: bold;
    font-size: 30px;
}

.head p span{
    color: #00000080;
}

.forms form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    font-size: 18px;
}

input {
    opacity: 0.7;
    padding: 15px;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.096);
    font-size: 15px;
}

form button {
    width: 100px;
    padding: 10px;
    margin-top: 25px;
    border-radius: 20px;
    background-color: gray;
    color: white;
    border: 1px solid whitesmoke;
    font-size: 15px;
}
