* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}

.Container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.Header {
    margin-top: 100px;
    padding: 20px;
}

.main {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.top {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;
    gap: 20px;
}

.top button {
    background-color: white;
    border-radius: 5px;
    width: 250px;
    padding: 10px;
    border: 1px solid rgba(94, 94, 94, 0.473);
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.main .top button img {
    height: 20px;
}

.Down {
    padding-top: 50px;
    border-top: 1px solid rgba(94, 94, 94, 0.473)
}

.Down form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

input {
    background-color: white;
    border-radius: 5px;
    width: 250px;
    padding: 10px;
    border: 1px solid rgba(94, 94, 94, 0.473);
}

.Btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.SignUp {
    width: 250px;
    padding: 15px 50px;
    border-radius: 5px;
    border: 1px solid white;
    background-color: hsl(240 4.7% 66.7%);
}

.Footer {
    text-align: center;
    background-color: rgba(128, 128, 128, 0.459);
    padding: 15px 10px;
    width: 100%;
}